<%- include('../partials/header')%>

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="card col-lg-6 col-md-8 col-sm-10 px-0">
      <h4 class="card-head default-color white-text text-center py-4">
        Modifier : <%=company.name%>
      </h4>
      <div class="card-body pt-0">
        <form class="needs-validation" action="/companies/<%=company._id%>?_method=put" method="post" novalidate>
          <div class="md-form">
            <label for="inputAddress">Adresse</label>
            <input class="form-control" type="text" name="company[address]" id="inputAddress" value="<%=company.address%>" required>
          </div>
          <div class="form-row">
            <div class="md-form col-md-4 my-0">
              <label for="inputPostalCode">Code postal</label>
              <input class="form-control input-postal-code" type="text" name="company[postalCode]" id="inputPostalCode" value="<%=company.postalCode%>" required>
            </div>
            <div class="md-form col-md-8 my-0">
              <label for="inputCity">Ville</label>
              <input class="form-control" type="text" name="company[city]" id="inputCity" value="<%=company.city%>" required>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="md-form input-group" id="inputLinks">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon"><i class="fas fa-phone-square-alt fa-lg blue-grey-text"></i></span>
              </div>
              <input class="form-control input-phone-number" type="text" name="company[phoneNumber]" placeholder="Numéro de téléphone" value="<%=company.phoneNumber%>">
            </div>
            <div class="md-form input-group" id="inputLinks">
              <div class="input-group-prepend">
                <div class="input-group-text md-addon"><i class="fas fa-link fa-lg blue-grey-text"></i></div>
              </div>
              <input type="url" class="form-control input-website" name="links[website]" placeholder="Site web" value="<%=company.links.website%>"> 
            </div>
            <div class="md-form input-group">
              <div class="input-group-prepend">
              <div class="input-group-text md-addon"><i class="fab fa-linkedin fa-lg blue-grey-text"></i></div>
              </div>
              <input type="url" class="form-control input-linkedin" name="links[linkedin]" placeholder="Linkedin" value="<%=company.links.linkedin%>" >
            </div>
          </div>
          <div class="input-form">
            <button class="btn btn-md btn-default btn-block" type="submit">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>