<%- include('../partials/header')%>

<% writeCurrentState = function(currentState) {
        switch(currentState) {
            case 0:
                return "En cours <i class='fas fa-circle text-warning'></i>"
                break;
            case 1:
                return "Acceptée <i class='fas fa-circle text-success'></i>"
                break;
            case 2:
                return "Refusée <i class='fas fa-circle text-danger'></i>"
                break;
            default:
                return "Erreur."
        }
} %>

<div class="d-flex justify-content-center">
    <div class="col-sm-10 col-md-9 col-lg-8">
        <div class="row justify-content-end mb-3 mr-auto">
            <a href="/applications/new"><button type="button" class="btn btn-success btn-md">Ajouter une nouvelle candidature</button></a>
        </div>
        <% applications.forEach(application => { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title"><a href="/companies/<%=application.company.id%>"><%=application.company.name%></a></h3>
                    <p class="card-text text-secondary">
                        Créé : <%=application.postedAt.toDateString()%><br>
                        Dernière mise à jour : dsqdqsdq<br>
                        Etat : <%-writeCurrentState(application.currentState)%>
                        <a href="/applications/<%=application._id%>"><button class="btn btn-sm btn-info float-right">Plus d'infos</button></a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer')%>