<%- include('../partials/header') %>
<div class="d-flex justify-content-center">
    <div class="col-sm-11 col-md-10 col-lg-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center pt-2">Candidature : <%=application.company.name%></h3>
                </div>
                <div class="card-body">
                    <p class="d-flex justify-content-end">
                        <span class="text-secondary"><%=application.postedAt.toDateString()%></span>
                    </p>
                    <p class="px-2"><%=application.text%></p>
                    <% application.updates.forEach(update => {%>
                        <hr>
                        <p class="d-flex justify-content-end">
                            <span class="text-secondary"><%=update.postedAt.toDateString()%></span>
                        </p>
                        <p class="px-2"><%-update.text.replace('\n', '<br>')%></p>
                    <%});%>
                </div>
                <div class="card-footer text-light">
                    <a href="/applications/<%=application._id%>/updates/new"><button type="button" class="btn btn-dark btn-md float-right">Mettre à jour la candidature</button></a>
                </div>
            </div>
    </div>
</div>

<%- include('../partials/footer') %>